<?xml version="1.0"?>
<launch>
  <!-- Loops Argument -->
  <arg name="loops" default="1" />

  <!-- Start the Joint Trajectory Action Server -->
  <node name="rsdk_velocity_joint_trajectory_action_server"
  pkg="baxter_interface" type="joint_trajectory_action_server.py"
  required="true" args="--mode velocity" />

  <!-- Run the Joint Trajectory File Playback Example -->
  <node name="pick_and_place_smach_test" pkg="dmp"
  type="pick_and_place_smach_test.py"
  output="screen" />
  <!-- Start the dmp Server -->
  <node name="dmp" pkg="dmp" type="dmp_server" respawn="false" output="screen"/>

</launch>
